{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/juggling-balls">Back</a>

      <h1 class="heading-large">
        You can't juggle
      </h1>

      <p>Juggling licences are only available for people with juggling skills.</p>

      <p>Learn how to juggle using the <a href="/url/of/onward/page">step-by-step guide</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
